body {
  margin: 0;
  padding: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/362087.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: azure;
}

.site-container {
  min-height: 100vh;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.name {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.menu-list {
  list-style: none;
  flex: 10;
  display: flex;
  gap: 2rem;
}

.menu-list a {
  color: azure;
  text-decoration: none;
}

.menu-list a:hover {
  cursor: pointer;
  color: red;
}

.cv {
  font-size: 16px;
  padding: 6px;
  border-radius: 6px;
  background-color: azure;
  color: red;
  font-weight: bold;
}

.cv:hover {
  cursor: pointer;
}

.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.about {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.about > :nth-child(1) {
  color: azure;
  font-weight: bold;
  font-size: 3rem;
}

.about > :nth-child(2) {
  color: red;
  font-weight: bold;
  font-size: 3rem;
}

.about > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: #ebebe4;
}

.about > :nth-child(4) {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
  color: #949494;
}

.about > :nth-child(5) {
  margin-top: 10px;
}

.icons img {
  width: auto;
  height: 100px;
  display: flex;
  transform: scale(0.5);
}

.icons img:hover {
  cursor: pointer;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-60px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.float {
  margin: 0;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  flex: 1;
  position: relative;
  justify-content: space-around;
  display: flex;
  padding: 0px, 28px, 0px, 0px;
  height: 4.5rem;
  animation: float 6s ease-in-out infinite;
}

.float > * {
  position: absolute;
  z-index: 1;
}

.float img {
  height: 300px;
}

.float span {
  box-shadow: 0px 19px 60px 10px red;
  font-size: large;
}

.title {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
