body {
  margin: 0;
  padding-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/362087.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: azure;
}

.site-container {
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.name {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.menu-list {
  list-style: none;
  flex: 10;
  display: flex;
  gap: 2rem;
}

.hamburger {
  display: none;
}
.mobile-menu {
  display: none;
}

.menu-list a {
  color: azure;
  text-decoration: none;
}

.menu-list a:hover {
  cursor: pointer;
  color: red;
}

.cv {
  font-size: 16px;
  padding: 6px;
  border-radius: 6px;
  background-color: azure;
  color: red;
  font-weight: bold;
}

.cv:hover {
  cursor: pointer;
}

.intro,
.education {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.about,
.middlesex,
.aptech {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.about > :nth-child(1) {
  color: azure;
  font-weight: bold;
  font-size: 3rem;
}

.about > :nth-child(2) {
  color: red;
  font-weight: bold;
  font-size: 3rem;
}

.about > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: #ebebe4;
}

.about > :nth-child(4) {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
  color: #949494;
}

.about > :nth-child(5) {
  margin-top: 10px;
}

.middlesex > :nth-child(1) {
  font-weight: bold;
  font-size: 3rem;
  color: red;
}

.middlesex > :nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
}

.aptech > :nth-child(1) {
  font-weight: bold;
  font-size: 3rem;
  color: red;
}

.aptech > :nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
}

.icons img {
  width: auto;
  height: 100px;
  display: flex;
  transform: scale(0.5);
}

.icons img:hover {
  cursor: pointer;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-60px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes float-right {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
    transform: translatex(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0);
    transform: translatex(200px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
    transform: translatex(0px);
  }
}

@keyframes float-left {
  0% {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.8);
    transform: translatex(110px);
  }
  50% {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.8);
    transform: translatex(0px);
  }
  100% {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
    transform: translatex(110px);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ce130e, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
      0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}

.contact span > :nth-child(1) {
  animation: ring 2s ease 3;
  animation-delay: 3s;
}

.float {
  margin: 0;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  flex: 1;
  position: relative;
  justify-content: space-around;
  display: flex;
  padding: 0px, 28px, 0px, 0px;
  height: 4.5rem;
  animation: float 6s ease-in-out infinite;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.float > * {
  position: absolute;
  z-index: 1;
}

.float img,
.education img {
  height: 300px;
  width: 440px;
}

.float span {
  box-shadow: 0px 19px 60px 10px red;
  padding: 10px;
  background-color: transparent;
  font-size: large;
}

.float > :nth-child(3) {
  top: -4%;
  left: 68%;
}
.float > :nth-child(4) {
  top: 60%;
  right: 77%;
}
.float > :nth-child(5) {
  top: 400%;
  right: 60%;
}

.title {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grade {
  position: absolute;
  font-size: 3rem;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 19px 60px 10px red;
  padding: 1px;
}

.year {
  position: absolute;
  font-size: 2.2rem;
  top: 66%;
  left: 25%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 19px 60px 10px red;
  padding: 1px;
}

.mid1 {
  animation: float-right 6s ease-in-out infinite;
}

.apt1 {
  animation: float-left 6s ease-in-out infinite;
}

.aptech {
  padding: 0px, 28px, 0px, 0px;
  height: 4.5rem;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 1rem;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.circle::before {
  border-radius: 100%;
  content: '';
  background-image: linear-gradient(to bottom, red 0%, black 100%);
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  position: absolute;
  z-index: -8;
}

.number {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 10px;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio > :nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact {
  display: flex;
  height: 10vh;
  margin-top: 5rem;
  justify-content: center;
  font-size: 30px;
}
.contact-icons {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.contact-icons a {
  text-decoration: none;
  color: red;
  font-size: 20px;
}

.contact-form {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}

.contact-form > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.contact-form .mb-3 {
  width: 12rem;
  height: 2rem;
  padding: 0.3rem;
  border: 2px solid red;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

textarea {
  width: 12rem;
  height: 4rem !important;
  padding: 0.3rem;
  border: 2px solid red;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.contact-button {
  font-size: 15px;
}

.stack-intro {
  padding: 0 3rem 0 3rem;
  display: flex;
  margin-top: 4rem;
  height: 40vh;
}

.stack-intro > span {
  font-size: large;
}

.stack {
  position: relative;
}

.outerCircle {
  left: 9rem;
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
  box-shadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  top: 2rem;
  background-color: white;
}

.mainCircle {
  left: 1rem;
  position: relative;
  width: 28rem;
  height: 28rem;
  border-radius: 100%;
  box-shadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  top: 1rem;
  background-color: #16151a;
}

.mainCircle > * {
  position: absolute;
}

.mainCircle > :nth-child(1) {
  top: -3rem;
  left: 10rem;
}
.mainCircle > :nth-child(2) {
  top: 9rem;
  left: 24rem;
}
.mainCircle > :nth-child(3) {
  top: 23rem;
  left: 10rem;
}
.mainCircle > :nth-child(4) {
  top: 9rem;
  left: -6rem;
}

.mainCircle > :nth-child(5) {
  font-size: 55px;
  font-weight: bold;
  top: 11rem;
  left: 9rem;
  color: #ce130e;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.secCircle {
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  box-shadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.secCircle > img {
  transform: scale(0.5);
}

.mainCircle > :nth-child(2) > img {
  transform: scale(0.45);
  margin-left: 10px;
}

.mainCircle > :nth-child(3) > img {
  transform: scale(0.1);
}

.figma-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.figma-text > :nth-child(1) {
  color: red;
  font-size: x-large;
}

.figma > :nth-child(2) {
  height: 600px;
  margin-right: 5px;
  transition: transform 0.2s;
}

.figma > :nth-child(2):hover {
  transform: scale(1.25);
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.figma > :nth-child(3) {
  height: 600px;
  transition: transform 0.2s;
}

.figma > :nth-child(3):hover {
  transform: scale(1.25);
  cursor: pointer;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.NI-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.NI-text > :nth-child(1) {
  color: red;
  font-size: x-large;
}

.NI-text > :nth-child(3) {
  color: red;
  font-size: x-small;
}

.OAS-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.OAS-text > :nth-child(1) {
  color: red;
  font-size: x-large;
}

.OAS-text > :nth-child(3) {
  color: red;
}

.OAS-text a {
  text-decoration: none;
  color: white;
}

.Port-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.Port-text > :nth-child(1) {
  color: red;
  font-size: x-large;
}

.Port {
  margin-bottom: 12rem;
}

.image-gallery {
  transition: transform 0.2s;
}

.image-gallery:hover {
  transform: scale(1.3);
  margin: 100px;
}

.foot {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2rem;
}

.footer-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 40px;
  }
  header {
    padding-left: 30px;
    padding-right: 20px;
  }
  .menu-list {
    display: none;
  }
  .intro,
  .education {
    flex-direction: column;
  }
  .site-container {
    padding-left: 5px;
  }
  .about,
  .middlesex,
  .aptech {
    transform: scale(0.8);
    top: -10rem;
    left: -1rem;
  }
  .float {
    top: -7%;
    animation: float 6s ease-in-out infinite;
  }
  .float > * {
    transform: scale(0.5);
    top: -20rem;
    margin-top: 3rem;
  }
  .title {
    font-size: medium;
    top: -13rem;
    left: 40%;
    transform: translate(-30%, -20%);
  }
  .float > :nth-child(3) {
    top: -18rem;
  }
  .float > :nth-child(4) {
    top: -12rem;
  }
  .float > :nth-child(5) {
    top: -7rem;
    right: 40%;
  }
  .foot {
    margin-top: 9rem;
  }

  .hamburger {
    margin-right: 90px;
    display: block;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  .hamburger span {
    color: white;
    font-size: 2rem;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 15%;
    right: 0;
    width: 100%;
    height: 60%;
    padding-top: 6rem;
    list-style: none;
    z-index: 98;
    opacity: 0;
    background-color: black;
    transform: translateY(100%);
    transition: 0.3s;
  }
  .mobile-menu.is-open {
    opacity: 1;
    transform: translateY(0);
  }
  .mobile-menu a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    transition: 0.3s;
  }
  .mobile-menu a:hover {
    color: red;
    background-color: white;
  }
  .contact-icons,
  .contact,
  .contact-form {
    transform: translateX(50px);
  }
}
